.PasswordCheckValidate {
  display: flex;
  align-items: center;
  gap: 4px;

  & span {
    display: flex;
    gap: 4px;
    align-items: center;

    color: #ffffffb2;
    font-size: rem(12px);
    font-style: normal;
    font-weight: 500; //font-weight: 400;
    line-height: 100%;

    @include iftablet {
      font-size: rem(14px);
    }
  }

  &__icon {
    width: rem(20px);
    height: rem(20px);

    & path {
      stroke: #ffffffb2;
    }
  }

  &__success {
    & svg > path {
      stroke: #1ac057;
    }
  }

  &__error {
    & path {
      stroke: #fc3939cc;
    }
  }
}
